
body{
  background-color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.banner{
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form{
  position: absolute;
  top: 40px;
  justify-items: center;

}

.movie-content{
  padding-top: 100px;
}
.movie-title{
  text-align: center;
}
.movie_overview{
  text-align: center;
}
.poster img{
  width: 300px;
  height: 300px;
  margin-right: 30px;

}
.film{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movie-film{
  text-align: center;
  color: #fff;
}